clientBanking/src/conf/xml-resources/web-service-references/thealekeweb/wsdl/localhost_8080/thealekeweb/thealekeweb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://thealeke/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://thealeke/">

<xs:element name="Addnews" type="tns:Addnews"/>

<xs:element name="AddnewsResponse" type="tns:AddnewsResponse"/>

<xs:element name="GrantTranfer" type="tns:GrantTranfer"/>

<xs:element name="GrantTranferResponse" type="tns:GrantTranferResponse"/>

<xs:element name="Viewnews" type="tns:Viewnews"/>

<xs:element name="ViewnewsResponse" type="tns:ViewnewsResponse"/>

<xs:element name="activate" type="tns:activate"/>

<xs:element name="activateResponse" type="tns:activateResponse"/>

<xs:element name="activateemp" type="tns:activateemp"/>

<xs:element name="activateempResponse" type="tns:activateempResponse"/>

<xs:element name="check" type="tns:check"/>

<xs:element name="checkEmployee" type="tns:checkEmployee"/>

<xs:element name="checkEmployeeResponse" type="tns:checkEmployeeResponse"/>

<xs:element name="checkResponse" type="tns:checkResponse"/>

<xs:element name="checkTransfer" type="tns:checkTransfer"/>

<xs:element name="checkTransferResponse" type="tns:checkTransferResponse"/>

<xs:element name="check_acc" type="tns:check_acc"/>

<xs:element name="check_accResponse" type="tns:check_accResponse"/>

<xs:element name="deactivate" type="tns:deactivate"/>

<xs:element name="deactivateResponse" type="tns:deactivateResponse"/>

<xs:element name="deactivateemp" type="tns:deactivateemp"/>

<xs:element name="deactivateempResponse" type="tns:deactivateempResponse"/>

<xs:element name="get_accounts" type="tns:get_accounts"/>

<xs:element name="get_accountsResponse" type="tns:get_accountsResponse"/>

<xs:element name="get_employees" type="tns:get_employees"/>

<xs:element name="get_employeesResponse" type="tns:get_employeesResponse"/>

<xs:element name="get_transfers" type="tns:get_transfers"/>

<xs:element name="get_transfersResponse" type="tns:get_transfersResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="transaction1" type="tns:transaction1"/>

<xs:element name="transaction1Response" type="tns:transaction1Response"/>

<xs:element name="updateAccount" type="tns:updateAccount"/>

<xs:element name="updateAccountResponse" type="tns:updateAccountResponse"/>

<xs:complexType name="deactivateemp">
<xs:sequence>
<xs:element name="empid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deactivateempResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Addnews">
<xs:sequence>
<xs:element name="news" type="xs:string" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddnewsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkEmployee">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="BRANCH" type="xs:string" minOccurs="0"/>
<xs:element name="DISTRICT" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="EMPID" type="xs:int"/>
<xs:element name="FNAME" type="xs:string" minOccurs="0"/>
<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
<xs:element name="LNAME" type="xs:string" minOccurs="0"/>
<xs:element name="MNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="PHOTO" type="xs:string" minOccurs="0"/>
<xs:element name="PNUM" type="xs:string" minOccurs="0"/>
<xs:element name="ROLE" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activate">
<xs:sequence>
<xs:element name="accnum" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkTransfer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkTransferResponse">
<xs:sequence>
<xs:element name="return" type="tns:transfer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transfer">
<xs:sequence>
<xs:element name="amount" type="xs:int"/>
<xs:element name="amount2" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="emp_id" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="r_address" type="xs:string" minOccurs="0"/>
<xs:element name="r_branch" type="xs:string" minOccurs="0"/>
<xs:element name="r_firstname" type="xs:string" minOccurs="0"/>
<xs:element name="r_lastname" type="xs:string" minOccurs="0"/>
<xs:element name="r_middlename" type="xs:string" minOccurs="0"/>
<xs:element name="r_phone" type="xs:string" minOccurs="0"/>
<xs:element name="s_address" type="xs:string" minOccurs="0"/>
<xs:element name="s_branch" type="xs:string" minOccurs="0"/>
<xs:element name="s_firstname" type="xs:string" minOccurs="0"/>
<xs:element name="s_lastname" type="xs:string" minOccurs="0"/>
<xs:element name="s_middlename" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateemp">
<xs:sequence>
<xs:element name="empid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activateempResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="get_employees">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="get_employeesResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Viewnews">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ViewnewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:news" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="news">
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GrantTranfer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="emp_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GrantTranferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="get_transfers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="get_transfersResponse">
<xs:sequence>
<xs:element name="return" type="tns:transfer" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="get_accounts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="get_accountsResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="ACCNO" type="xs:int"/>
<xs:element name="ACCTYPE" type="xs:string" minOccurs="0"/>
<xs:element name="ADDRESS" type="xs:string" minOccurs="0"/>
<xs:element name="BALANCE" type="xs:int"/>
<xs:element name="BRANCH" type="xs:string" minOccurs="0"/>
<xs:element name="DATE" type="xs:string" minOccurs="0"/>
<xs:element name="DISTRICT" type="xs:string" minOccurs="0"/>
<xs:element name="FNAME" type="xs:string" minOccurs="0"/>
<xs:element name="GENDER" type="xs:string" minOccurs="0"/>
<xs:element name="LNAME" type="xs:string" minOccurs="0"/>
<xs:element name="MNAME" type="xs:string" minOccurs="0"/>
<xs:element name="NATIONALITY" type="xs:string" minOccurs="0"/>
<xs:element name="OCCUPTION" type="xs:string" minOccurs="0"/>
<xs:element name="PHOTO" type="xs:string" minOccurs="0"/>
<xs:element name="PNUM" type="xs:string" minOccurs="0"/>
<xs:element name="STATUS" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deactivate">
<xs:sequence>
<xs:element name="accnum" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deactivateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAccount">
<xs:sequence>
<xs:element name="a" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="check_acc">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="check_accResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="check">
<xs:sequence>
<xs:element name="accnum" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaction1">
<xs:sequence>
<xs:element name="role1" type="xs:string" minOccurs="0"/>
<xs:element name="id1" type="xs:int"/>
<xs:element name="accnum1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaction1Response">
<xs:sequence>
<xs:element name="return" type="tns:transaction" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaction">
<xs:sequence>
<xs:element name="accnum" type="xs:int"/>
<xs:element name="amount" type="xs:int"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="executedby" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>