clientBanking/src/conf/xml-resources/web-service-references/thealekeweb/wsdl/localhost_8080/thealekeweb/thealekeweb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://thealeke/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://thealeke/" name="thealekeweb">
<types>
<xsd:schema>
<xsd:import namespace="http://thealeke/" schemaLocation="http://localhost:8080/thealekeweb/thealekeweb?xsd=1"/>
</xsd:schema>
</types>
<message name="check">
<part name="parameters" element="tns:check"/>
</message>
<message name="checkResponse">
<part name="parameters" element="tns:checkResponse"/>
</message>
<message name="updateAccount">
<part name="parameters" element="tns:updateAccount"/>
</message>
<message name="updateAccountResponse">
<part name="parameters" element="tns:updateAccountResponse"/>
</message>
<message name="Addnews">
<part name="parameters" element="tns:Addnews"/>
</message>
<message name="AddnewsResponse">
<part name="parameters" element="tns:AddnewsResponse"/>
</message>
<message name="checkTransfer">
<part name="parameters" element="tns:checkTransfer"/>
</message>
<message name="checkTransferResponse">
<part name="parameters" element="tns:checkTransferResponse"/>
</message>
<message name="get_transfers">
<part name="parameters" element="tns:get_transfers"/>
</message>
<message name="get_transfersResponse">
<part name="parameters" element="tns:get_transfersResponse"/>
</message>
<message name="GrantTranfer">
<part name="parameters" element="tns:GrantTranfer"/>
</message>
<message name="GrantTranferResponse">
<part name="parameters" element="tns:GrantTranferResponse"/>
</message>
<message name="get_employees">
<part name="parameters" element="tns:get_employees"/>
</message>
<message name="get_employeesResponse">
<part name="parameters" element="tns:get_employeesResponse"/>
</message>
<message name="checkEmployee">
<part name="parameters" element="tns:checkEmployee"/>
</message>
<message name="checkEmployeeResponse">
<part name="parameters" element="tns:checkEmployeeResponse"/>
</message>
<message name="transaction1">
<part name="parameters" element="tns:transaction1"/>
</message>
<message name="transaction1Response">
<part name="parameters" element="tns:transaction1Response"/>
</message>
<message name="get_accounts">
<part name="parameters" element="tns:get_accounts"/>
</message>
<message name="get_accountsResponse">
<part name="parameters" element="tns:get_accountsResponse"/>
</message>
<message name="Viewnews">
<part name="parameters" element="tns:Viewnews"/>
</message>
<message name="ViewnewsResponse">
<part name="parameters" element="tns:ViewnewsResponse"/>
</message>
<message name="activateemp">
<part name="parameters" element="tns:activateemp"/>
</message>
<message name="activateempResponse">
<part name="parameters" element="tns:activateempResponse"/>
</message>
<message name="deactivateemp">
<part name="parameters" element="tns:deactivateemp"/>
</message>
<message name="deactivateempResponse">
<part name="parameters" element="tns:deactivateempResponse"/>
</message>
<message name="deactivate">
<part name="parameters" element="tns:deactivate"/>
</message>
<message name="deactivateResponse">
<part name="parameters" element="tns:deactivateResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="activate">
<part name="parameters" element="tns:activate"/>
</message>
<message name="activateResponse">
<part name="parameters" element="tns:activateResponse"/>
</message>
<message name="check_acc">
<part name="parameters" element="tns:check_acc"/>
</message>
<message name="check_accResponse">
<part name="parameters" element="tns:check_accResponse"/>
</message>
<portType name="thealekeweb">
<operation name="check">
<input wsam:Action="http://thealeke/thealekeweb/checkRequest" message="tns:check"/>
<output wsam:Action="http://thealeke/thealekeweb/checkResponse" message="tns:checkResponse"/>
</operation>
<operation name="updateAccount">
<input wsam:Action="http://thealeke/thealekeweb/updateAccountRequest" message="tns:updateAccount"/>
<output wsam:Action="http://thealeke/thealekeweb/updateAccountResponse" message="tns:updateAccountResponse"/>
</operation>
<operation name="Addnews">
<input wsam:Action="http://thealeke/thealekeweb/AddnewsRequest" message="tns:Addnews"/>
<output wsam:Action="http://thealeke/thealekeweb/AddnewsResponse" message="tns:AddnewsResponse"/>
</operation>
<operation name="checkTransfer">
<input wsam:Action="http://thealeke/thealekeweb/checkTransferRequest" message="tns:checkTransfer"/>
<output wsam:Action="http://thealeke/thealekeweb/checkTransferResponse" message="tns:checkTransferResponse"/>
</operation>
<operation name="get_transfers">
<input wsam:Action="http://thealeke/thealekeweb/get_transfersRequest" message="tns:get_transfers"/>
<output wsam:Action="http://thealeke/thealekeweb/get_transfersResponse" message="tns:get_transfersResponse"/>
</operation>
<operation name="GrantTranfer">
<input wsam:Action="http://thealeke/thealekeweb/GrantTranferRequest" message="tns:GrantTranfer"/>
<output wsam:Action="http://thealeke/thealekeweb/GrantTranferResponse" message="tns:GrantTranferResponse"/>
</operation>
<operation name="get_employees">
<input wsam:Action="http://thealeke/thealekeweb/get_employeesRequest" message="tns:get_employees"/>
<output wsam:Action="http://thealeke/thealekeweb/get_employeesResponse" message="tns:get_employeesResponse"/>
</operation>
<operation name="checkEmployee">
<input wsam:Action="http://thealeke/thealekeweb/checkEmployeeRequest" message="tns:checkEmployee"/>
<output wsam:Action="http://thealeke/thealekeweb/checkEmployeeResponse" message="tns:checkEmployeeResponse"/>
</operation>
<operation name="transaction1">
<input wsam:Action="http://thealeke/thealekeweb/transaction1Request" message="tns:transaction1"/>
<output wsam:Action="http://thealeke/thealekeweb/transaction1Response" message="tns:transaction1Response"/>
</operation>
<operation name="get_accounts">
<input wsam:Action="http://thealeke/thealekeweb/get_accountsRequest" message="tns:get_accounts"/>
<output wsam:Action="http://thealeke/thealekeweb/get_accountsResponse" message="tns:get_accountsResponse"/>
</operation>
<operation name="Viewnews">
<input wsam:Action="http://thealeke/thealekeweb/ViewnewsRequest" message="tns:Viewnews"/>
<output wsam:Action="http://thealeke/thealekeweb/ViewnewsResponse" message="tns:ViewnewsResponse"/>
</operation>
<operation name="activateemp">
<input wsam:Action="http://thealeke/thealekeweb/activateempRequest" message="tns:activateemp"/>
<output wsam:Action="http://thealeke/thealekeweb/activateempResponse" message="tns:activateempResponse"/>
</operation>
<operation name="deactivateemp">
<input wsam:Action="http://thealeke/thealekeweb/deactivateempRequest" message="tns:deactivateemp"/>
<output wsam:Action="http://thealeke/thealekeweb/deactivateempResponse" message="tns:deactivateempResponse"/>
</operation>
<operation name="deactivate">
<input wsam:Action="http://thealeke/thealekeweb/deactivateRequest" message="tns:deactivate"/>
<output wsam:Action="http://thealeke/thealekeweb/deactivateResponse" message="tns:deactivateResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://thealeke/thealekeweb/loginRequest" message="tns:login"/>
<output wsam:Action="http://thealeke/thealekeweb/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="activate">
<input wsam:Action="http://thealeke/thealekeweb/activateRequest" message="tns:activate"/>
<output wsam:Action="http://thealeke/thealekeweb/activateResponse" message="tns:activateResponse"/>
</operation>
<operation name="check_acc">
<input wsam:Action="http://thealeke/thealekeweb/check_accRequest" message="tns:check_acc"/>
<output wsam:Action="http://thealeke/thealekeweb/check_accResponse" message="tns:check_accResponse"/>
</operation>
</portType>
<binding name="thealekewebPortBinding" type="tns:thealekeweb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="check">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Addnews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkTransfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_transfers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GrantTranfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_employees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transaction1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_accounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Viewnews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activateemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deactivateemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deactivate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="activate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="check_acc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="thealekeweb">
<port name="thealekewebPort" binding="tns:thealekewebPortBinding">
<soap:address location="http://localhost:8080/thealekeweb/thealekeweb"/>
</port>
</service>
</definitions>